<div class="container form-group">
  <h1>New task</h1>
  <%= render "form", task: @task %>
  <br>
  <div class="link">
    <%= link_to '<i class="icon-reply-all"></i> Back to list'.html_safe, "/" %>
  </div>
</div>
